.Playlist {
  overflow-x: scroll;
  height: 169px;

  .playlist-container {
    div:first-child {
      margin-left: 0 !important;
    }

    div:last-child {
      margin-right: 0 !important;
    }
  }
}
